<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Elixir Jobs</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="header" style="text-align: center; margin-top: 20px; margin-bottom: 50px;">
      <a href="/">
        <h1 style="font-size: 64px; color: black;">Elixir Jobs</h1>
      </a>
    </div>




    <div class="container" role="main">

      <%= if get_flash(@conn, :info) do %>
      <div class="ui teal large message">
        <i class="close icon"></i>
        <%= get_flash(@conn, :info) %>
      </div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
      <div class="ui negative large message">
        <i class="close icon"></i>
        <%= get_flash(@conn, :error) %>
      </div>
      <% end %>


      <%= if @user do %>
      <div class="ui right aligned segment">
        Welcome, <a href="#">Riza</a>. Click here to <a href="#">Logout.</a>
      </div>
    <% else %>
      <div class="ui right aligned segment">
        You're not logged-in yet. <a href="#">Click here</a> to login or <a href="<%= user_path(@conn, :login) %>">register</a>.
      </div>
      <% end %>


      <%= @inner %>



    </div> <!-- /container -->

    <footer style="padding-top: 20px; padding-bottom:20px; text-align: center; margin-top: 20px;" class="ui inverted segment">
      Made With <i class="heart icon"></i>By <a href="http://elixirdose.com/" target="_blank">ElixirDose</a>.
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
