<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" role="main">
      <div class="header" style="margin-bottom: 50px;">
        <img src="/images/phoenix.png">
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class="ui piled segment">
        <h4 class="ui header">Elixir Jobs</h4>
        <p>Elixir Jobs is the best place to find and list jobs related to Elixir Programming Language.
          Brought to you by <a href="http://elixirdose.com/" target="_blank">ElixirDose</a>.
        </p>
        <p>Find the most qualified people in the most unexpected places. Follow us on Tiwtter <a href="#" target="_blank">@elixirjobs</a></p>
      </div>


      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
