<div class="ui raised segment" style="padding-bottom: 42px;">
  <div class="ui grid">
    <div class="four wide column">
      <%= if @dev["picture_url"] != "" do %>
        <img class="ui small centered rounded image" src="<%= @dev["picture_url"] %>">
      <% else %>
        <img class="ui small centered rounded image" src="/images/hackers.jpg">
      <% end %>

      <div class="ui divider"></div>
      <i class="world icon"></i>
      <a href="<%= @dev["website"] %>" target="_blank"> Website </a><br>
      <i class="mail icon"></i> <%= @dev["email"] %><br>
      <i class="twitter icon"></i>
      <a href="<%= @dev["twitter_url"] %>" target="_blank"> Twitter </a><br>
      <i class="suitcase icon"></i> <a href="<%= @dev["resume_url"] %>" target="_blank">View Resume</a><br>
      <i class="github icon"></i> <a href="<%= @dev["github_url"] %>" target="_blank">Github</a><br>
      <div class="ui divider"></div>
      <!-- <i class="calendar icon"></i> Created on <%= @dev["date_joined"] %> -->
    </div>
    <div class="twelve wide column">
      <h2>
        <%= @dev["name"] %>
      </h2>
      <h5><%= @dev["short_desc"] %></h5>
      <div class="ui divider"></div>
      <p><%= to_html @dev["description"] %></p>
    </div>

</div>
