<div class="card">
  <a href="<%= dev_path(@conn, :show, @dev["id"]) %>" class="image">
    <img src="/images/<%= @dev["picture"] %>">
  </a>
  <div class="content">


    <a href="<%= dev_path(@conn, :show, @dev["id"]) %>" class="header"><%= @dev["name"] %></a>
    <div class="description"><%= @dev["description"] %></div>
  </div>
  <div class="extra content">
    <span class="right floated">
      <%= @dev["date_joined"]["epoch_time"] %>
    </span>
    <span>
      <i class="location arrow icon"></i>
      <%= if @dev["location"] do %>
      <%= @dev["location"] %>
      <% else %>
      Location not set
      <% end %>
    </span>
  </div>
</div>
